@charset "utf-8";
/* CSS Document */
html {
	background-color: black;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	margin: 0;
}

p { 
	color: white;
	font-family: arial;
	text-transform: uppercase;
	font-weight: 600;
}
::-webkit-scrollbar { 
    display: none; 
}

.about {
	position: relative;
	height: 34em;
	width: 100%;
	margin-top: 6em;
	float: right;
	background-color: black;
	z-index: -1;
}
.about video {
	width: 100%;
	max-height: 100%;
}

#panel {
	width: 10%;
	background-color: red;
	height: 20em;
}
.content {
	position: absolute;
	z-index: 1;
	margin-left: 11em;
	margin-top: 7em;
	margin: 5em 0 0 7em;
	width: 35em;
	display: none;
}
.profile {
	width: 100%;
	height: 90vh;
	background-color: black;
	display: grid;
	grid-template-columns: 50% 40%;
}

.column1 {
	column: 1;
	padding: 2em 0 0 5em;
	width: 100%;
}
.column1 img {
	margin-left: 10em;
	margin-top: 5em;
	max-width: 60%;
	height: auto;
}
.column2 {
	column: 2;
	width: 100%;
	padding-top: 5em;
}
.column2 {
	margin-top: 15em;
}