@charset "utf-8";
/* CSS Document */

html {
	background-color: black;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	margin: 0;
}

#myVideo {
	z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
	opacity: 0.6;
}