@charset "utf-8";
/* CSS Document */

.navbar {
	position: static;
	background-color: black;
	height: 3.5em;
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	overflow: hidden;
}

.navbar a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	font-family: Arial;
}
.navigation a:hover {
	color: black;
	background: white;
}

.navigation {
	padding: 1em;
	column: 1;
}
.navigation a {
	float: left;
	text-align: center;
	padding: 0 1em;
	display: block;
}
.socialmedia {
	column: 2;
}
.socialmedia img {
	padding: 1em;
	width: 2.5%;
	float: right;
}